.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  border-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  border-radius: 50px;
}
.button__one {
  background: #1FBD8A;
  padding: 8px 10px 12px;
  color: white;
}
.button__second {
  padding: 10px 36px;
  background: white;
  color: #24475B;
}
.button__first {
  background: #192F44;
}

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
  font-weight: 400;
  margin: 0;
}

.header {
  background-color: #1FBD8A;
  padding-top: 16px;
  padding-bottom: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-left: 45px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.about {
  background: #F2F4E8;
}
.about__container {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.about__tittle {
  max-width: 467px;
  width: 100%;
  margin-bottom: 9px;
  color: #013A51;
  font-weight: 400;
  font-size: 41px;
  line-height: 56px;
}
.about__tittle-little {
  margin-bottom: 10px;
  color: #00CA90;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.about__txt {
  margin-bottom: 20px;
  max-width: 518px;
  width: 100%;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #013A51;
}
.about__button {
  color: #013A51;
  padding: 7px 40px;
  border: 2px solid #00CA90;
}
.about__right-inside {
  margin-bottom: 65px;
}
.about__right-inside:last-child {
  margin-bottom: 0;
}
.about__right-tittle {
  margin-bottom: 10px;
  color: #013A51;
  font-size: 23px;
  line-height: 32px;
}
.about__right-txt {
  max-width: 440px;
  width: 100%;
  color: #013A51;
  font-size: 15px;
  line-height: 22px;
}
.about__right-img {
  margin-bottom: 20px;
}

.for {
  background: #0A2540;
  padding-bottom: 150px;
  padding-top: 150px;
}
.for__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.for__container {
  display: flex;
  justify-content: space-between;
}
.for__tittle {
  font-size: 42px;
  line-height: 56px;
}
.for__tittle:last-child {
  padding-bottom: 12px;
}
.for__txt {
  padding-bottom: 24px;
  max-width: 519px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.65);
}
.for__strong {
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 24px;
  color: #00CA90;
}
.for__button {
  padding: 15px 84px;
  margin-right: 24px;
}
.for__button-second {
  padding: 15px 74px;
}

.map {
  padding-top: 150px;
  padding-bottom: 150px;
}
.map__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map__tittle {
  margin-bottom: 13px;
  color: #013A51;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
}
.map__tittle-little {
  margin-bottom: 9px;
  color: #00CA90;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.map__txt {
  margin-bottom: 19px;
  max-width: 846px;
  width: 100%;
  text-align: center;
  color: #013A51;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.map__buttons {
  margin-bottom: 60px;
}
.map__button-first {
  margin-right: 12px;
  padding: 17px 58px;
}
.map__button-second {
  padding: 17px 96px;
}

.promo {
  background-color: #1FBD8A;
  padding-bottom: 140px;
}
.promo__top {
  background: url("../img/Frame.png") no-repeat center right;
  margin-left: 410px;
  padding-top: 109px;
}
.promo__tittle {
  margin-bottom: 10px;
  margin-top: 17px;
  max-width: 504px;
  width: 100%;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
}
.promo__txt {
  margin-bottom: 44px;
  max-width: 530px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.promo__strong {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  background: rgba(255, 255, 255, 0.25);
  padding: 9px 15px;
  border-radius: 50px;
}
.promo__button {
  padding: 17px 90px;
  margin-bottom: 360px;
}
.promo__button-second {
  padding: 17px 100px 17px 99px;
  margin-left: 17px;
}
.promo__img-friends {
  display: block;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #193844;
  padding-top: 60px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.footer__upper__box__login {
  max-width: 238px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__upper__box__login__api {
  padding: 17px 40px;
  background-color: #00CA90;
  border-radius: 50px;
}
.footer__middler {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #275668;
  border-bottom: 1px solid #275668;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__middler__box {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  width: 100%;
}
.footer__middler__box__title {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer__middler__box__no__title {
  padding-top: 41px;
}
.footer__middler__box__link {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 17px;
}
.footer__footer {
  padding-top: 46px;
  padding-bottom: 46px;
}

.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 150px;
}
.blog__paragraph {
  color: #00CA90;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 9px;
}
.blog__headlight {
  color: #013A51;
  font-size: 42px;
  line-height: 56px;
  margin-bottom: 62px;
}
.blog__button {
  color: #013A51;
  font-size: 15px;
  padding: 17px 103px;
  border: 1px solid #00CA90;
  border-radius: 50px;
}

.trial {
  padding-bottom: 75px;
  padding-top: 150px;
}
.trial__box {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F2F4E8 217.84%), #193844;
  border-radius: 50px;
  padding-top: 74px;
  padding-bottom: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trial__box__headlight {
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
}
.trial__box__paragraph {
  max-width: 387px;
  width: 100%;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 39px;
}
.trial__box__button {
  padding: 17px 88px;
  background-color: #00CA90;
  border-radius: 50px;
}

.partners {
  background: url("../img/partners/partners.png") no-repeat;
}
.partners__container {
  padding-left: 530px;
}
.partners__box {
  max-width: 560px;
  width: 100%;
  padding-top: 81px;
  padding-bottom: 81px;
}
.partners__box__spotlight {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  color: #00CA90;
}
.partners__box__paragraph {
  color: rgba(1, 58, 81, 0.59);
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 42px;
}
.partners__box__paragraph__span {
  color: #013A51;
  font-size: 21px;
  line-height: 30px;
}
.partners__box__quotation {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 52px;
  color: #00CA90;
}
.partners__box__quote {
  color: #013A51;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 20px;
}
.partners__box__quote__full__link {
  font-size: 15px;
  line-height: 20px;
  color: #013A51;
  margin-bottom: 40px;
}
.partners__box__looker__box {
  display: flex;
  justify-content: space-between;
  max-width: 387px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 42px;
}
.partners__box__looker__box__logo {
  max-height: 25px;
  height: 100%;
}
.partners__box__looker__box__name__box__name {
  font-size: 14px;
  line-height: 20px;
  color: #013A51;
}
.partners__box__looker__box__name__box__position {
  font-size: 13px;
}
.partners__box__button {
  padding: 17px 128px;
  color: #013A51;
  border: 2px solid #00CA90;
  border-radius: 50px;
}

.environment {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.environment__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.environment__spotlight {
  font-size: 18px;
  line-height: 24px;
  color: #00CA90;
  margin-bottom: 10px;
}
.environment__headlight {
  font-size: 42px;
  line-height: 56px;
  max-width: 747px;
  width: 100%;
  margin-bottom: 11px;
  color: #013A51;
}
.environment__headlight__second {
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #013A51;
  margin-top: 40px;
  margin-bottom: 13px;
}
.environment__description {
  font-size: 18px;
  line-height: 26px;
  color: #013A51;
  max-width: 872px;
  width: 100%;
  margin-bottom: 70px;
}
.environment__description__second {
  max-width: 894px;
  width: 100%;
  margin-bottom: 19px;
}
.environment__button {
  padding: 17px 88px;
  background: #192F44;
  border-radius: 50px;
}
.environment__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.environment__box__card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 443px;
  width: 100%;
  height: 190px;
  margin-bottom: 60px;
}
.environment__box__card__text__box {
  text-align: left;
  margin-left: 30px;
}
.environment__box__card__headlight {
  color: #013A51;
  font-size: 24px;
  line-height: 32px;
}
.environment__box__card__description {
  max-width: 241px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 22px;
  color: #5C7782;
}
.environment__box__card__link {
  font-size: 15px;
  line-height: 20px;
  color: #013A51;
}/*# sourceMappingURL=style.css.map */